out/*

sample.synctex.gz
sample.synctex(busy)

sample.aux

pdfa.xmpi

sample.bcf

sample.out

sample.run.xml

sample.bbl

sample.blg
sample.log
sample.fls
sample.fdb_latexmk
sample.pdf
mmayer.aux
mmayer.bbl
mmayer.bcf
mmayer.blg
mmayer.fdb_latexmk
mmayer.fls
mmayer.log
mmayer.out
mmayer.pdf
mmayer.run.xml
